#signupbox{
    background-color:rgb(85, 83, 83);
    border-radius:10px;
    padding:15px;
    margin:30px;
    font-family:sans-serif;
    box-sizing:border-box;
    width:40%;
    color:#fff;
	top: 105%;
	left: 50%;
	position:absolute;
	transform:translate(-50% , -50%);
}
.avatar
{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}
#signupbox input , #signupbox select{
    width:400px;
}
@media (max-width: 1200px) {
    #signupbox {
        width: 80%;
    }
    #signupbox input, #signupbox select{
        width:100%;
    }
}

.logo{
    width: 200px;
    position:absolute;
    left: 15px;
    top: 20px;
}

h1
{
	margin:35px;
	padding:0 0 0;
	text-align:center;
	font-size:20px;
}

#signupbox p  
{
	margin:0;
	padding:0;
	font-weight:bold;
}

#signupbox input
{
	width:100%;
	margin-bottom:20px;
}

#signupbox input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="tel"]
{
	border:none;
	border-bottom:1 px solid black;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}

#signupbox input[type="submit"],input[type="reset"]
{
	border:none;
	outline:none;
	height:30px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}

#signupbox input[type="submit"]:hover,input[type="reset"]:hover 
{
	cursor:pointer;
	background:#ffc187;
	color:#000;
}

#signupbox a
{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:darkgrey;
}

#signupbox a:hover
{
	color:#ffc187;
}

.selection {
    position: relative;
    display: block;
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}

.data-box{
    padding:10px 5px;
}
.data-box input{
    font-size:15px; 
    margin-top:3px;
}