<!DOCTYPE html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="customer_css.css" />
</head>
<body>
    <div class="home-webbanner">
        <img src="../image/homepage.png" />
        <button class="RequestCustomizedQuotationBtn" onclick="location.href='request_customized_quotation.html';">Request Customized Quotation</button>
    </div>
    <div class="items">
        <div class="section-header text-center">
            <h2>Our Products..!</h2>
        </div>
        <ul class="grid grid_view_items">
            <li class="grid_item">
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a>  
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button> </center>                
                </div>
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a> 
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button> </center>                   
                </div>
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a>
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button> </center>                    
                </div>
            </li> 
 
        </ul>
    </div>
    <div class="items">
        <ul class="grid grid_view_items">
            <li class="grid_item">
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a>  
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button></center>               
                </div>
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a> 
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button> </center>                   
                </div>
                <div class="grid_view_item">
                    <a href="design_view.html" class="grid_view_item_link">
                        <img class="grid_view_item_image" src="../image/lorem_tshirt.PNG"/>
                        <div class="grid_view_item_title">
                            <h3>Lorem Tshirt</h3>
                        </div>
                    </a>
                    <center><button class="Quotationbtn" onclick="location.href='request_quotation.html';">
                        Request Quotation
                    </button> </center>                    
                </div>
            </li>  
        </ul>
    </div>
    <footer class="footer">
        <div id="page-footer">
            <hr color="#cccccc" size="8px" width="100%" style="margin:0;" /> 
            <div id="footer-left-column">
                <b>Contact us</b><br /><br />
                <span><img src="../Icon/call.png" />&nbsp +94 774 719 095 </span><br />
                <span><img src="../icon/email.png" />&nbsp rlfapparel@gmail.com </span><br />
                <span><img src="../icon/loc.png" />&nbsp 341/c/194 , 6th Lane ,<br />&nbsp Mahayaya Watta , Piliyandala </span>
                
            </div>
            <div id="footer-middle-column">
                <b>Follow us</b><br /><br />
                <a href="#"><img src="../icon/insta.png" /></a>
                <a href="#"><img src="../icon/fb.png" /></a>
                <a href="#"><img src="../icon/twitter.png" /></a>
                <br /><br />
                <b>Pay with</b><br /><br />
                <img src="../icon/visa.png" id="visa-card-icon" />
            </div>
            <div id="footer-right-column">
                <b>Your message</b><br /><br />
                <form method="post" action="">
                    <input type="text" name="name" width="30%" placeholder="Name" /><br />
                    <input type="text" name="email" width="30%" placeholder="Email" /><br />
                    <textarea name="message" rows="4" cols="30" placeholder="Message"></textarea><br />
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>

    </footer>
</body>
</html>