<!DOCTYPE html>
<head>
    <title>View Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="customer_css.css" />
</head>
<body>
        <div id="breadcrumb">
            <a href="customer_home.php">Home </a> >
            <a href="view_all_order.html">View All Orders </a> > View Order
        </div>
    <div class="ViewRow">
        <div class="section-header text-center">
            <h2>View Order</h2>
        </div>
    </div>
    
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <input type="text" name="designname"style="width: 100%;" placeholder="Sport T-shirt" disabled>
                <label for="fname">Merchandiser Name :</label>
                <input type="text"  name="merchandisername"style="width: 100%;" placeholder="Kamal Perera" disabled>
                <label for="fname">Merchandiser Contact No :</label>
                <input type="text" name="contacno"style="width: 100%;" placeholder="94 123 456 789" disabled>
              </form>
        </div>
    </div>
    <div class="ViewRow">
        <div class="box">
            <div class="designimage">
                <img src="../image/lorem_tshirt.PNG">
                <center>Front View</center>
            </div>
            <div class="designimage">
                <img src="../image/left.PNG">
                <center>Left View</center>
            </div>
            <div class="designimage">
                <img src="../image/back.PNG">
                <center>Back View</center>
            </div>
            <div class="designimage">
                <img src="../image/right.PNG">
                <center>Right View</center>
            </div>
        </div>   
    </div>
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <label for="fname">Quotation Created On :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-11-11">
                <label for="fname">Valid till :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-11-18">
              </form>
        </div>
    </div>
    <div class="ViewRow">
        <div class="box" style="display: block;">
            <center>
            <div class="section-header text-center">
                <h3 style="color: red;">Place Order Now ..!</h3>
            </div>
            <img src="../image/size-chart- new.png" width="60%">
            <br />
            <form action="">
                <table>
                    <tr>
                        <th style="padding: 5px; ">Size</th>
                        <th style="padding-left: 20px;">Quantity</th>
                        <th >Price</th>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">XS</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="XS"style="width: 40%" disabled placeholder="10"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="XSP"style="width: 80%" disabled placeholder="10 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">S</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="S"style="width: 40%" disabled placeholder="5"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="SP"style="width: 80%" disabled placeholder=" 5 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">M</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="M"style="width: 40%" disabled placeholder="10"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="MP"style="width: 80%" disabled placeholder="12 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">L</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="L"style="width: 40%" disabled placeholder="5"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="LP"style="width: 80%" disabled placeholder=" 6 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">XL</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="XL"style="width: 40%" disabled placeholder="4"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="XLP"style="width: 80%" disabled placeholder=" 6 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;">XXL</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"><input type="text" id="" name="XXL"style="width: 40%" disabled placeholder="2"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="XXLP"style="width: 80%" disabled placeholder=" 3 000"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"> Total Price</td>
                        <td style="padding-left: 20px; display: flex; justify-content: center;"></td>
                        <td style="padding-left: 20px;"><input type="text" id="" name="totalprice"style="width: 80%" disabled placeholder="32 000"></td>
                    </tr>
                </table>

              </form>
            </center>
        </div>   
    </div>
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <label for="fname">Order Deadline :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-12-20">

              </form>
        </div>
    </div>
    <footer class="footer">
        <div id="page-footer">
            <hr color="#cccccc" size="8px" width="100%" style="margin:0;" /> 
            <div id="footer-left-column">
                <b>Contact us</b><br /><br />
                <span><img src="../Icon/call.png" />&nbsp +94 774 719 095 </span><br />
                <span><img src="../icon/email.png" />&nbsp rlfapparel@gmail.com </span><br />
                <span><img src="../icon/loc.png" />&nbsp 341/c/194 , 6th Lane ,<br />&nbsp Mahayaya Watta , Piliyandala </span>
                
            </div>
            <div id="footer-middle-column">
                <b>Follow us</b><br /><br />
                <a href="#"><img src="../icon/insta.png" /></a>
                <a href="#"><img src="../icon/fb.png" /></a>
                <a href="#"><img src="../icon/twitter.png" /></a>
                <br /><br />
                <b>Pay with</b><br /><br />
                <img src="../icon/visa.png" id="visa-card-icon" />
            </div>
            <div id="footer-right-column">
                <b>Your message</b><br /><br />
                <form method="post" action="">
                    <input type="text" name="name" width="30%" placeholder="Name" /><br />
                    <input type="text" name="email" width="30%" placeholder="Email" /><br />
                    <textarea name="message" rows="4" cols="30" placeholder="Message"></textarea><br />
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>

    </footer>
</body>
</html>