<!DOCTYPE html>
<head>
    <title>Make Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="customer_css.css" />
</head>
<body>
        <div id="breadcrumb">
            <a href="customer_home.html">Home </a> >
            <a href="view_all_order.html">View All Orders </a> > Make Payment
        </div>
    <div class="ViewRow">
        <div class="section-header text-center">
            <h2>Payment</h2>
        </div>
    </div>
    
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <label for="fname">Order ID :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled>
                <label for="fname">View Design ID :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled>
                <label for="fname">Design Name :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled>
                <label for="fname">Merchandiser Name :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled>
              </form>
        </div>
    </div>
    <div class="ViewRow">
        <div class="box">
            <div class="designimage">
                <img src="../image/lorem_tshirt.PNG">
                <center>Front View</center>
            </div>
            <div class="designimage">
                <img src="../image/left.PNG">
                <center>Left View</center>
            </div>
            <div class="designimage">
                <img src="../image/back.PNG">
                <center>Back View</center>
            </div>
            <div class="designimage">
                <img src="../image/right.PNG">
                <center>Right View</center>
            </div>
        </div>   
    </div>
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <label for="fname">Quotation Created On :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-11-11">
                <label for="fname">Valid till :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-11-18">
              </form>
        </div>
    </div>
    <div class="ViewRow">
        <div class="box" style="display: block;">
            <center>
            <div class="section-header text-center">
                <h3 style="color: red;">Make Payment Now ..!</h3>
            </div>
            <img src="../image/size-chart- new.png" width="60%">
            <br />
            <form action="">
                <label for="sizes">Size :</label>
                <select id="sizes" name="cars" col="10" style="padding: 5px; padding-right:40px; " disabled>
                  <option value="volvo">S</option>
                  <option value="saab">M</option>
                  <option value="fiat">L</option>
                </select>
                <br />
                <br />
                <label for="fname">Quantity :</label>
                <input type="text" id="fname" name="fname"style="width: 20%" disabled placeholder="10">
                <br />
                <br />
                <label for="fname">Total Price :</label>
                <input type="text" id="fname" name="fname"style="width: 20%" disabled placeholder="Rs.150000.00">
              </form>
            </center>
        </div>   
    </div>
    <div class="ViewRow">
        <div class="box">
            <form action="">
                <label for="fname">Order Deadline :</label>
                <input type="text" id="fname" name="fname"style="width: 100%;" disabled placeholder="2022-12-20">
                <br />
                <br />
                <center>
                <input type="submit" value="Payment" style="width: 50%;">
                </center>
              </form>
        </div>
    </div>
    <footer class="footer">
        <div id="page-footer">
            <hr color="#cccccc" size="8px" width="100%" style="margin:0;" /> 
            <div id="footer-left-column">
                <b>Contact us</b><br /><br />
                <span><img src="../Icon/call.png" />&nbsp +94 774 719 095 </span><br />
                <span><img src="../icon/email.png" />&nbsp rlfapparel@gmail.com </span><br />
                <span><img src="../icon/loc.png" />&nbsp 341/c/194 , 6th Lane ,<br />&nbsp Mahayaya Watta , Piliyandala </span>
                
            </div>
            <div id="footer-middle-column">
                <b>Follow us</b><br /><br />
                <a href="#"><img src="../icon/insta.png" /></a>
                <a href="#"><img src="../icon/fb.png" /></a>
                <a href="#"><img src="../icon/twitter.png" /></a>
                <br /><br />
                <b>Pay with</b><br /><br />
                <img src="../icon/visa.png" id="visa-card-icon" />
            </div>
            <div id="footer-right-column">
                <b>Your message</b><br /><br />
                <form method="post" action="">
                    <input type="text" name="name" width="30%" placeholder="Name" /><br />
                    <input type="text" name="email" width="30%" placeholder="Email" /><br />
                    <textarea name="message" rows="4" cols="30" placeholder="Message"></textarea><br />
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>

    </footer>
</body>
</html>