.ViewRow{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 232, 197);
}
.box{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color:#FFCC99;
    padding: 20px;
    width: 80%;
    border-radius: 10px;

}
.section-header{
    box-sizing: border-box;
    margin-bottom: 35px;
}
.text-center {
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
}